@model OrderChina.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<style>
    .login {
        font-size: 0.8em;
        max-width: 700px;
        min-height: 335px;
        margin: auto;
        margin-top:5%;
        border: solid 1px #b6fffd;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
        -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
        -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
    }
</style>
<div style="min-width: 100%; min-height: 450px; background-color: white">
    <div class="login">
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)    
                    <table align="center" style="max-width:100%;min-height:100%; ">
                        <tr>
                            <td colspan="3" align="center"><p style="font-size:1.5em"><b>Đăng nhập</b></p></td>

                        </tr>
                        <tr>
                            <td align="right" style="width:25%"><p> @Html.LabelFor(m => m.Email):</p></td>
                            <td colspan="2">
                                <p style="margin-left:5%;font-size:14px; ">
                                    @Html.TextBoxFor(m => m.Email)
                                    <br />
                                    @Html.ValidationMessageFor(m => m.Password)
                                </p>

                            </td>

                        </tr>
                        <tr>
                            <td align="right" style="width:25%"><p>@Html.LabelFor(m => m.Password):</p></td>
                            <td colspan="2">
                                <p style="margin-left:5%">
                                    @Html.PasswordFor(m => m.Password)
                                    <br />
                                    @Html.ValidationMessageFor(m => m.Password)
                            </td>

                        </tr>
                        <tr>
                            <td></td>
                            <td width="40%">
                                <p style="font-size:0.7em">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                                </p>

                            </td>
                            <td>
                                <input type="submit" value="Đăng nhập" class="btn btn-danger"  style="background-color: #d9534f; height: 35px" />
                                <input type="reset" value="Hủy" class="btn btn-default" style="width:50px" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <p style="font-size:14px">
                                    Nếu  bạn chưa có tài khoản hãy<i style="color:blue"> @Html.ActionLink("Đăng ký", "Register")</i>
                                </p>
                            </td>
                            <td></td>
                        </tr>



                    </table>

            }
     
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
