@using OrderChina.Models
@model OrderChina.Models.UserProfile
@{
    ViewBag.Title = "Personal";
}
@if (ViewData["message"] != null)  
{
    <script>
        alert(ViewData["message"]);
    </script>
}
<style>
    .lab {
        font-size: 17px;
        padding-right: 15px;
    }
    .Gende input{
        width:50px;
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "User", true } })

        <div class="col-md-9 order-content">
            <div class='row'>
                <h3 class='text-center'>Đổi thông tin cá nhân</h3>
                <hr>
                @using (Html.BeginForm("Personal", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <table style="width:100%;text-align:right">
                        <tr style="height:60px">
                            <td style="width:20%"><label class="lab">Họ tên</label></td>
                            <td align="left">@Html.TextBoxFor(m => m.Name, new { @class = "form-control btn-flat" })
                             <br />  @Html.ValidationMessageFor(m => m.Name)
                            </td>
                        </tr>
                        <tr>
                            <td><label class="lab">Điện thoại</label></td>
                            <td align="left" style="padding-left:2px">
                                @(string.IsNullOrEmpty(@Model.Phone) ? Html.TextBoxFor(m => m.Phone) : Html.TextBoxFor(m => m.Phone, new { @class = "form-control btn-flat" }))
                                <br />  @Html.ValidationMessageFor(m => m.Phone)
                                <span id="sdt_error" style="color:#ff0000"></span>
                        </td>
                        </tr>
                        <tr>
                            <td><label class="lab">Email</label></td>
                            <td align="left" style="padding-left:2px">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control btn-flat" })
                                <br /> @Html.ValidationMessageFor(m => m.Email)
                            </td>
                        </tr>
                        <tr>
                            <td><label class="lab">Giới tính</label></td>
                            <td align="left" class="Gende">
                            @Html.RadioButton("Gender","Nam")<b>Nam</b>
                            @Html.RadioButton("Gender", "Nữ")<b>Nữ</b>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="lab">Địa chỉ</label></td>
                            <td>@Html.TextBox("Address", null, new { @class = "form-control btn-flat" })
                                <span id="add_error" style="color:#ff0000"></span>
                            </td>
                        </tr>
                        <tr style="height:60px">
                            <td></td>
                            <td align="left">
                                <button type="submit" class="btn btn-danger btn-flat " id="btnsubmit" onclick="return Submid()" >Cập nhật</button>
                                <a style="font-size:14px;color:blue" href="@Url.Action("ChangePass", "Account", new { id = Session["Phone"] })">Đổi mật khẩu</a>
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
    <script>
        function Submid() {
            var name = $.trim($('#Name').val());
            var phone = $.trim($('#Phone').val());
            var flag = true;
            if (name = "" || name.length < 0) {
                $('#username_error').text('Bạn chưa nhập tên');
                flag = false;
            } else {
                $('#username_error').text('');
            }
            if (isNaN(phone)) {
                $('#sdt_error').text('Số điện thoại phải nhập bằng số');
                flag = false;     
            } else if (phone.length < 9 || phone.length > 12) {
                $('#sdt_error').text('Số điện thoại từ 9 đến 12 số')
                flag = false;
            } else{
                $('#sdt_error').text('');
            }
            return flag;
        }
    </script>

</section>