@{
    ViewBag.Title = "_UpdateOrderDetail";
}

@model OrderChina.Models.Wallet


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Tạo ví điện tử</h4>
        </div>
        <div class="modal-body">
            <div class="form-group row" style="width: 100%;font-size: 14px">
                @Html.HiddenFor(a => a.Client)
                <div class="col-sm-5">
                    @Html.LabelFor(m => m.Currency)
                    @Html.DropDownListFor(m => m.Currency, (IEnumerable<SelectListItem>)ViewBag.ListCurrency, "--Loại tiền--", new { @class = "form-control flat", style = "display: inline;" })
                </div>
                <div class="col-sm-5">
                    @Html.LabelFor(m => m.Money)
                    @Html.TextBoxFor(m => m.Money, new { @class = "form-control btn-flat", placeholder = "Tỷ giá đặt được" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" value="create" class="btn btn-primary">Tạo</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
}
