@{
    ViewBag.Title = "Index";
}
@using OrderChina.Models
@using PagedList.Mvc
@model IndexWalletModel

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<section @*class='container'*@ style='padding: 20px;'>
    <div class='row'>
        @(ViewBag.isadmin != null ?
        Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "ListClient", true } }) :
                ViewBag.isacc != null ? Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "walletmanage", true } }) : Html.Partial("_AsideMenuPartial", new ViewDataDictionary { { "wallet", true } }))

        <div class="col-md-9 order-content">
            @if (ViewBag.isadmin != null)
            {
                <a rel='tooltip' title="Tạo mới ví"
                   href=@Url.Action("CreateWallet", "Wallet", new { id = ViewBag.phone }) class="btn btn-xs btn-primary btn-create">
                    <i class="fa fa-file"></i>
                    Tạo mới ví
                </a>
            }
            <ul class="my-row">
                @foreach (var item in Model.Wallets)
                {
                    <li>
                        <i class="fa fa-money">@item.Currency</i>
                        <div class="content-container">
                            <span class="name">Số tiền trong ví: </span>
                            <span class="txt">@item.Money.ToString("##,##0")</span>
                        </div>
                        @if (@OrderChina.Common.Utilities.CheckRole((string)Session["UserType"], UserType.Accounting.ToString()))
                        {
                            <div>
                                <a href="@Url.Action("AdditionWallet", "Wallet", new { id = item.Id, cmd = "add" })" rel='tooltip' title="Thêm tiền" class='btn btn-info btn-xs btn-addition'><i class="fa fa-plus"></i></a>
                                <a href="@Url.Action("AdditionWallet", "Wallet", new { id = item.Id, cmd = "sub" })" rel='tooltip' title='Trừ tiền' class='btn btn-info btn-xs btn-subtract'><i class="fa fa-minus"></i></a>
                            </div>
                        }
                    </li>
                }
            </ul>

            <div class="col-sm-12">
                <hr>
            </div>

            <table class="table table-bordered table-striped" style="font-size: 12px">
                <thead>
                    <tr>
                        <th class='text-center'>Ví</th>
                        <th class='text-center'>Số tiền cập nhật</th>
                        <th class='text-center'>Loại cập nhật</th>
                        <th class='text-center'>Lý do</th>
                        <th class="text-center">Người cập nhật</th>
                        <th class='text-center'>Ngày</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.WalletHistorys)
                    {
                        <tr>
                            <td class='text-center'>
                                @Html.DisplayFor(modelItem => item.Currency)
                            </td>
                            <td class='text-center'>
                                @Html.DisplayFor(modelItem => item.Money)
                            </td>
                            <td class='text-center'>
                                @item.getUpdateTypeText()
                            </td>
                            <td class='text-center'>
                                @Html.DisplayFor(modelItem => item.Reason)
                            </td>
                            <td class='text-center'>
                                @Html.DisplayFor(modelItem => item.User_Update)
                            </td>
                            <td class='text-center'>
                                @item.LastUpdate.ToString("dd/MM/yyyy HH:mm:yyyy")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            Page @(Model.WalletHistorys.PageCount < Model.WalletHistorys.PageNumber ? 0 : Model.WalletHistorys.PageNumber) of @Model.WalletHistorys.PageCount
            @Html.PagedListPager(Model.WalletHistorys, page => Url.Action("Index", new { id = ViewBag.phone, page }))
        </div>
    </div>
    <div class="modal fade"
         id="myModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <!-- empty -->
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('.btn-create').click(function (e) {


                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-addition').click(function (e) {


                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
            $('.btn-subtract').click(function (e) {


                e.preventDefault();

                var $modal = $('#myModal');
                var $modalDialog = $('.modal-dialog');
                var href = $(this).prop('href');

                // không cho phép tắt modal khi click bên ngoài modal
                var option = { backdrop: 'static' };

                // kiểm tra (logic, điều kiện...)

                // load modal
                $modalDialog.load(href, function () {
                    $modal.modal(option, 'show');
                });
            });
        }); // document ready

    </script>
}